
/* CSS Selectors */

 /* - Element Selectors */

div{
    background-color: lightgrey;
}

h1{
    font-size: 50px; 
    color:darkred;
}
p{
    font-size: 20px;
}

/* Class Selectors */

.unique{
    background-color: lightcoral;
    color:darkslategrey;
    font-weight: 100px;
    font-family:Arial, Helvetica, sans-serif;
    
}

.common{
    background-color: lightsteelblue;
    color:tomato;
    font-weight: 200px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.style{
    background-color: #B4CFF9;
    color: rgb(249,88,89);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200px;
}

.brave{
    background-color: lightgoldenrodyellow;
    color: black;
    font-weight:50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

img{
    width: 300px;
    height : 400px;
}

/* ID Selectors */

#section-1{
    font-style: italic;
}

#section-2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Universal Selector */

*{
    text-align:center;
}